@import url(https://fonts.googleapis.com/css?family=Roboto);
@import './palette';

body {
    font-family: 'Roboto', sans-serif;
    background-color: $primary-color-text;
    background-image: url('./back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    margin: 0;
}

[data-role='main'] {
    display: flex;
    justify-content: center;
}

.mdi-toggle-switch, .mdi-lightbulb {
    color: $accent-color;
}
