@import './palette.scss';

[data-position='wheel-center'] {
    position: absolute;
    left: 250px;
    top: 400px;
    width: 500px;
    height: 300px;
}

[data-role='pressing-guide'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    [data-role='icon'] {
        font-size: 4em;
    }

    [data-role='relay'] {
        font-size: 2em;
    }

    [data-role='date'] {
        font-size: 3em;
    }
}
