@import '../../style/palette';

[data-role='login-screen'] {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    [data-role='head'] {
        background-color: $primary-color;
        padding: 60px 40px 10px 40px;

        [data-role='title'] {
            color: white;
            font-size: 2em;
        }
    }

    [data-role='body'] {
        padding: 20px 40px;
        [data-role='container'] {
            display: flex;
            flex-flow: column;

            & > div {
                min-width: 400px;
            }

            [data-role='login'] {
                display: flex;
                flex-flow: row-reverse;
                padding: 20px 0;
            }
        }
    }
}
